*{
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
.sidebar::-webkit-scrollbar {
    display: none;}


.sidebar{
    width: 200px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    overflow-y: scroll;
    
}
.sidebar{
    height: 100%;
}
.search{
    width: 150px;
    margin-left: 4px;
}
.sidebar h2{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.sidebar-nav ul{
    list-style: none;
    padding-left: 0;

}
.sidebar-nav ul li a{
    text-decoration: none;
    display: block;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px black solid;
    padding-left: 20%;
}
.sidebar-nav-socmed h2{
    margin-top: 20px;
}
.sidebar-nav-socmed ul li a{
    text-decoration: none;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px black solid;
    padding-left: 20%;
}
.sidebar-nav ul li a:hover{
    color: orange;
}
/*setting*/
.ul-sub{
    display: none;
}
.sidebar-nav ul .dropdown:hover ul{
    display: initial;
}
.dropdown .ul-sub .dropdown-a{
    padding-left: 0;
}

.header{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 99%;
    position: fixed;
    top: 0;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    
    
}
.header h3{
    margin-left: 20px;
    font-size: 30px;
    width: fit-content;
}
.navi a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 30px;
    
}
.navi a:hover{
    color: orange;
}

/** Landing Page **/

.firstpart{
    background-image: url("https://staticg.sportskeeda.com/editor/2023/04/63d73-16823971700459-1920.jpg");
    height: 603px;
    padding-top: 360px;
    position: static;

    
    
}

.firstpart h1, h2{
    font-size: 100px;
    text-align: center;
    color: white;
}
span{
    color: orange;
}

.logo{
    position: absolute;
    top: 0;
    right: 0;
}
.secondpart{
    background-image: url("https://cdn-www.bluestacks.com/bs-images/Wallpaper_farlight-84.jpg");
    height: 800px;
    padding-top: 130px;
}
.secondpart h2, #feature-p{
    font-size: 100px;
}

#feature-p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0;
    margin: 0px 300px 0px 300px;
}

.thirdpart{
    background-image: url("https://cdn.mos.cms.futurecdn.net/Guz5XpiUCd3e9GJ6kiNRdR.jpg");
    height: 970px;
    padding-left: 150px;
}
.thirdpart h2{
    font-size: 70px;
    padding-top: 10%;
}
#about-p{
    font-size: 25px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
}
.thirdpart a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.knowmore{
    background-color: orange;
    width: 190px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 10px;
    
}

.fourthpart{
    background-image: url("https://d1lss44hh2trtw.cloudfront.net/assets/editorial/2021/05/farlight-enemy.jpg");
    height: 975px;
}
.fourthpart h2{
    font-size: 70px;
    padding-top: 100px;
}
.project-box1{
    background-color: white;
    height: 130px;
    border-radius: 10px;
    padding-top: 20px;
}

.fourthpart h3{
    text-align: center;
    align-items: center;
    font-size: 31px;
    margin-top: 20px;
}

/**/
.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 50px;
    gap: 20px;
    padding-top: 80px;
}
.see-details{
    text-align: center;
    margin-top: 10px;
}
.see-details a{
    text-decoration: none;
    color: orange;
}
.fifthpart{
    background-image: url("https://pbs.twimg.com/media/EnpheSCVgAQM8l0.jpg:large");
    height: 200px;
    text-align: center;
    padding-top: 50px;
}
.fifthpart p{
    margin-bottom: 15px;

}
.contact-btn{
    height: 50px;
    background-color: orange;
    width: 70px;
    margin-left: 48%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
    padding-top: 15px;
    
}
.contact-btn a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    
}

.footer{
    background-color: orange;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer p{
    padding-left: 50px;
    font-size: 15px;
    margin-top: 0;
    padding-top: 10px;
    padding: 0;
}

/** About Page**/

.abt-firstpart{
    height: 905px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/Guz5XpiUCd3e9GJ6kiNRdR.jpg");
    padding-top: 60px;
}
.abt-firstpart h2, p{
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.abt-firstpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.abt-box{
    background-color: white;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;

}
.abt-container{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.abt-container h3{
    font-size: 40px;
    padding-top: 40px;
}
.abt-container p{
    font-size: 21px;
    margin: 0;
}

.abt-secondpart{
    height: 925px;

}
.abt-secondpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.abt-secondpart p{
    font-size: 30px;
}
.team-box{
    background-color: white;
    height: 150px;
    width: 600px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 10px;
    
}
.team-box h3{
    height: 20px;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px;

}
.team-box p{
    padding: 0;
    padding-left: 100px;
    font-size: 18px;
    margin-top: 0;
    text-align: center;
    align-items: center;
}
.team-box img{
    position:absolute;

}
.team-container{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.abt-thirdpart{
    height: 910px;
    background-image: url("https://images.igdb.com/igdb/image/upload/t_original/scdt2w.webp");
}


.header h3{
    margin-left: 20px;
    font-size: 30px;
}
.nav{
    margin-left: 72%;

}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 30px;
}

/** project box editing**/


.fourthpart{
    background-image: url("https://d1lss44hh2trtw.cloudfront.net/assets/editorial/2021/05/farlight-enemy.jpg");
    height: 975px;
}
.fourthpart h2{
    font-size: 70px;
    padding-top: 100px;
}
.project-box{
    background-color: white;
    height: 130px;
    border-radius: 10px;
    padding-top: 20px;
}
.fourthpart h3, p{
    text-align: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    padding-top: 80px;
}
.see-details{
    text-align: center;
    margin-top: 10px;
}
.see-details a{
    text-decoration: none;
    color: orange;
}


/** About Page**/

.abt-firstpart{
    height: 905px;  
    background-image: url("https://cdn.mos.cms.futurecdn.net/Guz5XpiUCd3e9GJ6kiNRdR.jpg");
    padding-top: 60px;
}
.abt-firstpart h2, p{
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.abt-firstpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.abt-box{
    background-color: white;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;

}
.abt-container{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.abt-container h3{
    font-size: 40px;
    padding-top: 40px;
}


.abt-secondpart{
    height: 945px;
}.abt-secondpart{
    background-image: url("https://pbs.twimg.com/media/EnpheSCVgAQM8l0.jpg:large");
}
.abt-secondpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.abt-secondpart p{
    font-size: 30px;
}
.team-box{
    background-color: white;
    height: 150px;
    width: 600px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 10px;
    justify-content: space-around;
    background-image: url("images/Lucito\ Antigo\ Jr..png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
    
}
#team-box2{
    background-image: url(images/lapid2x2.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
}
.team-box h3{
    height: 20px;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px;

}
.team-box p{
    padding: 0;
    padding-left: 100px;
    font-size: 18px;
    margin-top: 0;
    text-align: center;
    align-items: center;
}
.team-box img{
    position: absolute;

}
.team-container{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.abt-thirdpart{
    height: 910px;
    background-image: url("https://images.igdb.com/igdb/image/upload/t_original/scdt2w.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abt-thirdpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.abt-thirdpart p{
    font-size: 30px;
}
.getintouch{
    height: 400px;
    width: 900px;
    background-color: white;
    border-radius: 10px;

    margin-top: 30px;
}
.getintouch h3, p{
    text-align: center;
}
.getintouch h3{
    font-size: 40px;
    padding-top: 70px;
}
.getintouch p{
    font-size: 25px;
}
.socialmed{
    font-size: 30px;
    display: flex;
    justify-content:space-between;
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 30px;
}
.socialmed a:hover{
    color: orange;
}

/** Location **/

.loc-firstpart{
    height: 963px;
    background-image: url("https://imag.malavida.com/mvimgbig/download-fs/farlight-84-30626-12.jpg");
    background-position: center;
    display: flex;

}
.loc-firstpart iframe{
    height: 959px;
    width: 50%;
    position: static;
}

/**Project page**/

.proj-firstpart{
    background-image: url("https://pbs.twimg.com/media/EnpheSCVgAQM8l0.jpg:large");
    height: 965px;
}
.proj-firstpart h2, p{
    font-size: 30px;
    text-align: center;

}
.proj-firstpart h2{
    font-size: 50px;
    padding-top: 100px;
}
.proj-secondpart, .proj-fifthpart{
    background-image: url("https://cdn.mos.cms.futurecdn.net/Guz5XpiUCd3e9GJ6kiNRdR.jpg");
    height: 910px;
}
.proj-container{
    display: flex;
    margin-top: 70px;
}
.proj-img{
    margin-left: 150px;
}
.proj-text p{
    text-align: left;
    color: white;
}
.proj-secondpart h2{
    font-size: 50px;
    padding-top: 100px;
}
.proj-thirdpart, .proj-sixthpart{
    background-image: url("https://images.igdb.com/igdb/image/upload/t_original/scdt2w.webp");
    height: 910px;
}
.proj-thirdpart h2{
    font-size: 50px;
    padding-top: 100px;
}
.proj-fourthpart, .proj-seventhpart{
    height: 910px;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/033/198/303/large/nki-studio-spidertrap.jpg?1608726179");
}
.proj-fourthpart h2{
    font-size: 50px;
    padding-top: 100px;
}
.proj-fifthpart h2{
    font-size: 50px;
    padding-top: 100px;
}
.proj-sixthpart h2{
    font-size: 50px;
    padding-top: 100px;
}
.proj-seventhpart h2{
    font-size: 50px;
    padding-top: 100px;
}

/* contact page*/
.contact-firstpart{
    height: 860px;
    background-image: url("https://pbs.twimg.com/media/EnpheSCVgAQM8l0.jpg:large");
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-firstpart h2{
    font-size: 50px;
}
.contact-firstpart p{
    font-size: 30px;
}

.contact-container1{
    height: 300px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin-top: 80px;
    
}
.contact-container1 h3{
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}
.contact-container1 ul li{
    list-style: none;

}
.contact-container1 ul li p{
    font-size: 25px;
}

.contact-secondpart{
    background-image: url("https://cdn.mos.cms.futurecdn.net/Guz5XpiUCd3e9GJ6kiNRdR.jpg");
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-secondpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.contact-secondpart p{
    font-size: 30px;
}
form{
    width: 800px;
    height: 450px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.3) ;
    padding: 20px;
    border-radius: 10px;
}
label, input[type="submit"]{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
}

input[type="text"], input[type="email"], textarea{
    width: 97%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    background-color: rgba(255, 255, 255, 0.1);
    color: orange;
    font-size: 17px;
}
input[type="submit"]{
    width: 50%;
    margin-left: 23.5%;
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-thirdpart{
    background-image: url("https://images.igdb.com/igdb/image/upload/t_original/scdt2w.webp");
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-thirdpart h2{
    font-size: 50px;
    padding-top: 50px;
}
.contact-thirdpart p{
    font-size: 30px;
}
.contact-container2{
    height: 250px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin-top: 80px;
}
.contact-container2 h3{
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}
.contact-container2 ul li{
    list-style: none;

}
.contact-container2 ul li p{
    font-size: 25px;
}
.contact-thirdpart h4{
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
}
.contact-container3{
    width: 600px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.socialmed2{
    font-size: 28px;
    text-align: center;
    padding-left: 0;
}
.socialmed2 a{
    padding-left: 15px;
}
.socialmed2 a:hover{
    color: orange;
}
.closing-message{
    margin-top: 200px;
}

/*Animation Part*/

.background{
    background-image: url(img-animation/backgroundcity.jpg);
    padding-top: 54px;
}
.road{
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(img-animation/roadv1.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 5s linear infinite;

}
@keyframes road{
    100%{
        transform: translateX(-1500px);
    }
}
.city{
    background-image: url(img-animation/cityv3.jpg);
    height: 900px;
    width: 500%;

    background-size: 31%;
    background-repeat: repeat-x;
    display: block;
    animation: city 20s linear infinite;
}
@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}
.header{
    position:fixed;
}
.car{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.car img{
    width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}
.wheel{
    left: 51.6%;
    bottom: 198px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}
.wheel img:nth-child(1){
    width: 80px;
    height: 80px;
}
.back-wheel{
    left: -142px;
    position: absolute;
}
.front-wheel{
    left: 30px;
    position: absolute;
}
.wheel .back-wheel{
    bottom: -73px;

}
.wheel .front-wheel{
    left: 39px;
}

@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}

/* SNAKE GAME */

#gameContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
.snake-html-body{
    background-image: url("https://images7.alphacoders.com/134/thumb-1920-1340346.jpeg");
}

/* Flappy Bird  */

.body-flappybird{
    text-align: center;
    background-image: url("https://images7.alphacoders.com/134/thumb-1920-1340346.jpeg");
}

#board {
    /* background-color: skyblue; */
    background-image: url("./games-img/flappybirdbg.png");
    margin-top: 10vh;
    border-radius: 5px;
    border: 5px solid black;
}